<!doctype html>
<html>

<head>
    <title>Tagger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
</head>

<body id="demo">
    <nav id="sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Labels</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="box" id="labelSquare"></div>
                <text id="labelText"></text>
                </div>
             </div>
        </div>
    </nav>

    <div id="content" class="container">
        <div class="row">
            <text> {{ head }} / {{ len }} </text> 
            {% if head <= 1 %}
            <a href="/next" class="btn btn-primary" style="float:right;" type="button">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {% elif not_end %}
            <a href="/prev" class="btn btn-primary" style="float:left;" type="button">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="/next" class="btn btn-primary" style="float:right;" type="button">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {% endif %}
        </div>
        <div style="overflow: scroll">
            <canvas id="canvas"></canvas>
        </div>
        <script type="text/javascript">
            var image_path = "{{ image }}";
            var color = "{{ color }}";
            var label_text = "{{ label_text}}";
        </script>
        {% if head == 0 %}
        <p> WAITING FOR RESULTS ... </p>
        {% else %}
        <script type="text/javascript" src="../static/js/main.js"></script>
        {% endif %}
    </div>
</body>

</html>