html {
    height:100%;
}

body {
    height: 100%;
}

.panel-default {
    height: 100%;
}

.instruction {
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
}


#sidebar {
    width: 25%;
    height: 100%;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
}

#content.container {
    width: 75%;
    height: 100%;
    float: right;
    z-index: 8000;
    margin-bottom: 0px;
}

#canvas {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

#labelText {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.row {
    margin-left: 30px;
}
.box {
    display: inline-block;
    width: 20px;
    height: 20px; 
    border: 1px solid rgba(0, 0, 0, .2);
    background: #ffffff;
}

.green {
    background: #006400;
}

.red {
    background: #ae163e;
}

.gap-10 { 
    width:100%; 
    height:10px; 
} 

.btn-space {
    margin-left: 5px;
    margin-right: 5px;
}